---
import type { CollectionEntry } from "astro:content";

import Tags from "./Tags.astro";

import { formatDate } from "../utils";

const { content } = Astro.props;

interface Props {
  content: CollectionEntry<"blog">;
}
---

<div class="border border-gray-400 rounded-md m-3 shadow-md">
  <a href={`/articles/${content.slug}`}>
    <img src={`/images/${content.data.image}`} class="rounded-t-md" />
  </a>
  <a href={`/articles/${content.slug}`}>
    <div class="text-xl text-center p-1 font-bold">{content.data.title}</div>
  </a>
  <div class="text-xl text-center p-1 text-gray-500">
    {formatDate(content.data.pubDate)}
  </div>
  <div class="text-center p-3">
    <Tags values={content.data.tags} />
  </div>
</div>
